{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des entreprises{% endblock %}

{% block body %}
    {% include 'sections/heading.html.twig' with {'title': 'Liste des entreprises'} %}

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-block p-4 search-company" id="main-content">
                        {{ form_start(searchCompanyForm) }}
                            <div class="d-flex">
                                {{ form_widget(searchCompanyForm.companyName) }}
                                {{ form_widget(searchCompanyForm.submit) }}
                            </div>
                        {{ form_end(searchCompanyForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/spacer.html.twig' %}
    <section class="list">
        <div class="container">
            <div class="row mb-5">
                {{ form_start(listingForm) }}
                <div class="form-group custom-select">
                    {{ form_label(listingForm.order) }}
                    {{ form_widget(listingForm.order) }}
                </div>
                {{ form_end(listingForm) }}
            </div>
            <div class="row">
                {% for company in companies %}
                    <div class="col-12 col-lg-4 col-md-6 mb-4">
                        {% include 'partials/company.html.twig' with {'company': company} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'partials/spacer.html.twig' %}
{% endblock %}