{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ company.name }}{% endblock %}

{% block body %}
    {% include 'sections/heading.html.twig' with {'title': company.name, 'backLink': url('company_index'), 'backTitle': 'Retour à la liste' } %}
    <section class="content mb-5">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-12 col-lg-8">
                    <div class="content-block" id="main-content">
                        <div class="section-header">
                            <div class="selected-date">
                                {{ company.createdAt|date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="separator-container">
                            <div class="separator"></div>
                        </div>
                        <div class="content-block-main">
                            <div class="mb-4" id="general-information">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Informations générales</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <span class="info"><i class="fa-solid fa-id-card"></i> {{ company.name }}</span>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <span class="info"><i class="fa-solid fa-scale-balanced"></i> {{ company.legalStatus }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <span class="info"><i class="fa-solid fa-building-circle-check"></i> {{ company.registrationCity }}</span>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <span class="info"><i class="fa-solid fa-calendar-check"></i> {{ company.registrationDate|date('d/m/Y') }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <span class="info"><i class="fa-solid fa-gavel"></i> {{ company.siren }}</span>
                                    </div>
                                </div>
                            </div>
                            <div id="sites">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Siège social</h2>
                                    </div>
                                    <div class="accordion" id="accordionSites">
                                        {% for site in company.sites %}
                                            <div class="accordion-item">
                                                <h3 class="accordion-header" id="heading-{{ loop.index0 }}">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse-{{ loop.index0 }}">
                                                        {{ site.name }}
                                                    </button>
                                                </h3>
                                                <div id="collapse-{{ loop.index0 }}" class="accordion-collapse collapse {% if loop.index0 == 0 %}show{% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionSites">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <span class="info"><i class="fa-solid fa-building-circle-check"></i> {{ site.name }}</span>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <span class="info"><i class="fa-solid fa-city"></i> {{ site.city }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <span class="info"><i class="fa-solid fa-location-dot"></i> {{ site.zipcode }}</span>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <span class="info"><i class="fa-solid fa-map-location"></i> {{ site.address }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <span class="info"><i class="fa-solid fa-globe"></i> {{ site.country }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                    <div class="content-block" id="date">
                        <div class='log-event' id='inlinePicker'></div>
                        <button class="btn btn-primary" id="validate-date"><i class="fa-solid fa-check"></i> Valider la date et l'heure</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('partials/toast.html.twig') }}
{% endblock %}